<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://jakarta.ee/xml/ns/persistence" version="3.1">
    <persistence-unit name="vendas2">
        <properties>
            <!-- Configuração do Banco de Dados -->
            <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver" />
            <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/vendas2" />
            <property name="jakarta.persistence.jdbc.user" value="postgres" />
            <property name="jakarta.persistence.jdbc.password" value="120521batata" />

            <!-- Hibernate como provedor JPA -->
            <property name="jakarta.persistence.provider" value="org.hibernate.jpa.HibernatePersistenceProvider" />

            <!-- Geração automática do banco de dados -->
            <property name="hibernate.hbm2ddl.auto" value="update" />

            <!-- Mostra as consultas SQL no console -->
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.format_sql" value="true" />

            <!-- Definição do dialeto do PostgreSQL -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
        </properties>
    </persistence-unit>
</persistence>
